<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Курс валют</title>
</head>
<body>

<div th:replace="allPagesTemplates :: navBar"></div>
<div th:replace="adminSettingsFragments :: settings_option_list"></div>

<div class="container">
    <div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form th:action="@{/editOrder/submit}" method="get" role="form" autocomplete="off">


                    <div class="form-group">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить заказ</button>
                    </div>

                </form>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>