<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="allPagesTemplates :: all_pages_head_data"></div>

    <script th:src="@{jssource/dynamic_editor_form.js}"></script>
</head>
<body>
<div th:replace="allPagesTemplates :: navBar"></div>

<div class="container">
    <div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form th:action="@{/editOrder/submit}" method="get" role="form" autocomplete="off">

                    <div class="form-row">
                        <div class="form-group col-md-8"><label for="inputPhoneNumber">Номер телефона</label> <input
                                type="tel"
                                class="form-control"
                                id="inputPhoneNumber"
                                name="inputPhoneNumber"
                                onclick="numValid(this)">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"><label for="inputDeliveryDate">Дата отправки</label> <input
                                th:value="${#dates.format(nowDate, 'yyyy-MM-dd')}"
                                type="date"
                                class="form-control"
                                id="inputDeliveryDate"
                                name="inputDeliveryDate">
                        </div>
                        <div class="form-group col-md-6"><label for="inputPaymentMethod">Способ оплаты</label> <select
                                id="inputPaymentMethod"
                                name="inputPaymentMethod"
                                class="form-control">
                            <option selected>Наложка</option>
                            <option>Оценка</option>
                            <option>Самовывоз</option>

                        </select></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"><label for="inputName">Имя</label> <input
                                type="text"
                                class="form-control"
                                id="inputName"
                                name="inputName"
                                placeholder="Имя">
                        </div>
                        <div class="form-group col-md-6"><label for="inputSurname">Фамилия</label> <input
                                type="text" class="form-control" id="inputSurname" name="inputSurname"
                                placeholder="Фамилия"></div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-10"><label for="inputCity">Населенный пункт</label> <input
                                type="text"
                                class="form-control"
                                id="inputCity"
                                name="inputCity">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputWarehouseNumber">№</label>
                            <input type="number" class="form-control" id="inputWarehouseNumber"
                                   name="inputWarehouseNumber"
                                   onclick="numValid(this)">
                        </div>
                    </div>
                    <div class="form-row">
                        <!--<div class="form-group col-md-1">-->
                            <!--<label for="inputWidth">Ширина:</label>-->
                            <!--<input type="text" class="form-control" id="inputWidth" onclick="numValidDouble(this)">-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-1">-->
                            <!--<label for="inputLength">Длина:</label>-->
                            <!--<input type="text" class="form-control" id="inputLength" onclick="numValidDouble(this)">-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-1">-->
                            <!--<label for="inputHeight">Высота:</label>-->
                            <!--<input type="text" class="form-control" id="inputHeight" onclick="numValidDouble(this)">-->
                        <!--</div>-->
                        <div class="form-group col-md-3">
                            <label for="inputWeight">Вес:</label>
                            <input type="text" class="form-control" name="inputWeight" id="inputWeight" onclick="numValidDouble(this)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputVolume">Обьем:</label>
                            <input type="text" class="form-control" name="inputVolume" id="inputVolume" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12"><label for="inputOrderComment">Коментарий к заказу:</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="inputOrderComment"
                                    name="inputOrderComment">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить заказ</button>
                    </div>
                    <div class="entry">
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="field">Товар</label>
                                <input class="form-control" name="field" id="field" type="text"
                                       placeholder="Type something"/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="qua">Кол-во</label>
                                <input class="form-control" name="qua" id="qua" type="number" placeholder="0"
                                       onclick="numValid(this)"/>
                            </div>

                            <div class="form-group col-md-1">
                            <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

</body>
</html>