<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{jssource/dynamicform.js}"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row.content {
            height: 450px
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }

        .entry:not(:first-of-type) {
            margin-top: 10px;
        }

        .glyphicon {
            font-size: 12px;
        }
    </style>
    <title>Страница редактора</title>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Orders</a></li>
                <li><a href="//editor" class="active">Add Order</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="//login"><span class="glyphicon glyphicon-log-in"></span> Залогироваться</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<div class="container-fluid text-center">-->
<!--<div class="row content">-->
<!--<div class="col-sm-8 text-left">-->
<!--<form action="#" th:action="@{/blog/editor/submit}" th:object="${order}" method="post">-->
<!--<h1>Создание статьи</h1>-->
<!--<div class="form-group">-->
<!--<label for="usr">Название</label>-->
<!--<input type="text" class="form-control" id="usr" th:field="*{managerId}"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="comment">Текст</label>-->
<!--<textarea class="form-control" rows="20" id="comment" th:field="*{product}"></textarea>-->
<!--</div>-->

<!--<button type="submit" class="btn btn-success">Сохранить</button>-->
<!--</form>-->
<!--<hr/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form th:action="@{/editor/submit}" method="get" role="form" autocomplete="off">
                    <div class="form-row align-items-center">
                        <div class="form-inline">
                        <div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                            <div class="form-group">
                                <label for="comment">Текст</label>
                                <textarea class="form-control" rows="20" id="comment" name="comment"></textarea>
                                </div>
                            <label class="mr-sm-2" for="paymentMethod">Preference</label>
                            <select class="custom-select mr-sm-2" id="paymentMethod">
                                <option selected>Choose...</option>
                                <option value="1">C.O.D</option>
                                <option value="2">Bank Transfer</option>
                                <option value="3">Pickup</option>
                            </select>
                            </div>
                        <div class="entry">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="field">Product</label>
                                    <input class="form-control" name="field" id="field" type="text"
                                           placeholder="Type something"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="qua">Quantity</label>
                                    <input class="form-control" name="qua" id="qua" type="text" placeholder="0"
                                           pattern="^[ 0-9]+$" onclick="numValid(this)"/>
                                </div>
                            </div>
                            <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </form>
                <br>
                <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
            </div>
        </div>
    </div>
</div>

</body>
</html>