<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="allPagesTemplates :: all_pages_head_data"></div>

    <link  rel="stylesheet" th:href="@{/htmlhelpers/intl-tel-input/build/css/intlTelInput.css}">
    <script  type="text/javascript" th:src="@{/htmlhelpers/intl-tel-input/build/js/intlTelInput-jquery.js}"></script>
    <script type="text/javascript" th:src="@{/jssource/dynamic_editor_form.js}"></script>
</head>
<body>
<div th:replace="allPagesTemplates :: navBar"></div>


<div class="container">
    <div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form th:action="@{/editOrder/submit}" method="get" role="form" autocomplete="off">

                    <input hidden
                           type="number"
                           id="orderId"
                           name="orderId"
                           th:value="${order.getId()}">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-8" id="copyNumberDiv"><label for="inputPhoneNumber">Номер телефона</label> <input
                                type="tel"
                                class="form-control"
                                id="inputPhoneNumber"
                                name="inputPhoneNumber">

                            <ul class="list-group clients-search-editor-res" id="searchClientsResult"></ul>
                        </div>

                        <div class="form-group col-md-1 align-self-center">
                            <button id="copyNumberButton" class="btn btn-success" type="button">
                            </button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"><label for="inputDeliveryDate">Дата отправки</label> <input
                                th:value="${#dates.format(nowDate, 'yyyy-MM-dd')}"
                                type="date"
                                class="form-control"
                                id="inputDeliveryDate"
                                name="inputDeliveryDate">
                        </div>
                        <div class="form-group col-md-6"><label for="inputPaymentMethod">Способ оплаты</label> <select
                                id="inputPaymentMethod"
                                name="inputPaymentMethod"
                                class="form-control">
                            <option selected>Наложка</option>
                            <option>Оценка</option>
                            <option>Самовывоз</option>

                        </select></div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6"><label for="inputName">Имя</label> <input
                                type="text"
                                class="form-control"
                                id="inputName"
                                name="inputName"
                                placeholder="Имя">
                        </div>
                        <div class="form-group col-md-6"><label for="inputSurname">Фамилия</label> <input
                                type="text" class="form-control" id="inputSurname" name="inputSurname"
                                placeholder="Фамилия"></div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-10"><label for="inputCity">Населенный пункт</label> <input
                                type="text"
                                class="form-control"
                                id="inputCity"
                                name="inputCity">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputWarehouseNumber">№</label>
                            <input type="number" class="form-control" id="inputWarehouseNumber"
                                   name="inputWarehouseNumber"
                                   onclick="numValid(this)">
                        </div>
                    </div>
                    <div class="form-row">
                        <!--<div class="form-group col-md-1">-->
                            <!--<label for="inputWidth">Ширина:</label>-->
                            <!--<input type="text" class="form-control" id="inputWidth" onclick="numValidDouble(this)">-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-1">-->
                            <!--<label for="inputLength">Длина:</label>-->
                            <!--<input type="text" class="form-control" id="inputLength" onclick="numValidDouble(this)">-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-1">-->
                            <!--<label for="inputHeight">Высота:</label>-->
                            <!--<input type="text" class="form-control" id="inputHeight" onclick="numValidDouble(this)">-->
                        <!--</div>-->
                        <div class="form-group col-md-3">
                            <label for="inputWeight">Вес:</label>
                            <input type="text" class="form-control" name="inputWeight" id="inputWeight" onclick="numValidDouble(this)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputVolume">Обьем:</label>
                            <input type="text" class="form-control" name="inputVolume" id="inputVolume" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12"><label for="inputOrderComment">Коментарий к заказу:</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="inputOrderComment"
                                    name="inputOrderComment">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить заказ</button>
                    </div>
                        </div>
                    <div id="orderLines" class="form-group col-md-6">
                        <label for="orderLines">Позиции заказа:</label>
                        <div class="controls-1">

                            <div id="orderLine" class="entry" th:each="orderLine : ${order.getOrderLines()}">
                                <div class="form-row">
                                    <div class="form-group col-md-9" id="inputOrdProdNameDiv">
                                        <label for="inputOrderLineProductName">Товар</label>
                                        <input th:value="${orderLine.getProduct().getName()}" class="form-control"
                                               name="inputOrderLineProductName"
                                               id="inputOrderLineProductName" type="text"/>
                                        <div id="searchOrderLineProductsList">
                                        <ul class="list-group product-search-editor-res" id="searchProductResult"></ul>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputOrderLineProductQua">Кол-во</label>
                                        <input th:value="${orderLine.getAmount()}" class="form-control"
                                               name="inputOrderLineProductQua"
                                               id="inputOrderLineProductQua" type="text"/>
                                    </div>

                                    <div class="form-group col-md-1">
                            <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                                    </div>
                                </div>
                            </div>

                            <div id="orderLine" class="entry" th:if="${order.getOrderLines().size()==0}">
                                <div class="form-row">
                                    <div class="form-group col-md-9" id="inputOrdProdNameDiv">
                                        <label for="inputOrderLineProductName">Товар</label>
                                        <input class="form-control"
                                               name="inputOrderLineProductName"
                                               id="inputOrderLineProductName" type="text"/>
                                        <div id="searchOrderLineProductsList">
                                        <ul class="list-group product-search-editor-res" id="searchProductResult"></ul>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputOrderLineProductQua">Кол-во</label>
                                        <input class="form-control"
                                               name="inputOrderLineProductQua"
                                               id="inputOrderLineProductQua" type="text"/>
                                    </div>

                                    <div class="form-group col-md-1">
                            <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>