<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="allPagesTemplates :: all_pages_head_data"></div>
    <link rel="stylesheet" th:href="@{/csssource/item_list_stylesheet.css}">
    <script th:src="@{/jssource/item_list_js.js}"></script>
</head>

<body>
<div th:replace="allPagesTemplates :: navBar"></div>

</div>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Мои <b>Заказы</b></h2>
                </div>
                <div class="col-sm-8">
                    <a href="/editOrder" class="btn btn-add"><i class="material-icons">&#xe147;</i>
                        <span>Добавить</span></a>
                    <a href="#" class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>Обновить</span></a>
                    <a href="#" class="btn btn-info"><i class="material-icons">&#xE24D;</i> <span>Создать реестр</span></a>
                </div>
            </div>
        </div>
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-3">
                    <div class="show-entries">
                        <span>Кол-во</span>
                        <select id="selectPage" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                        <span>страниц</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    <div class="filter-group">
                        <label>Имя</label>
                        <input type="text" class="form-control" id="searchOrder">
                    </div>

                    <div class="filter-group">
                        <label>Location</label>
                        <select class="form-control">
                            <option>All</option>
                            <option>Berlin</option>
                            <option>London</option>
                            <option>Madrid</option>
                            <option>New York</option>
                            <option>Paris</option>
                        </select>
                    </div>

                    <div class="filter-group">
                        <label>Статус</label>
                        <select class="form-control">
                            <option>Все</option>
                            <option>Выполнен</option>
                            <option>Упакован</option>
                            <option>Ждет оплаты</option>
                            <option>Подтвержден/option>
                        </select>
                    </div>
                    <span class="filter-icon"><i class="fa fa-filter"></i></span>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" id="orderListTable">
            <thead>
            <tr>
                <th>№</th>
                <th>Клиент</th>
                <th>Город</th>
                <th>Дата заказа</th>
                <th>Статус</th>
                <th>Общая сумма</th>
                <th>Детально</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="#">Иван Быков</a></td>
                <td>Киев 55</td>
                <td>Jun 15, 2017</td>
                <td><span class="status text-success">&bull;</span> Выполнен</td>
                <td>$254</td>
                <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                </td>
                <td><a href="#" class="delete" title="Delete Order" data-toggle="tooltip"><i class="material-icons">&#xe5cd;</i></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#">Василий Селевер</a></td>
                <td>Одесса 1</td>
                <td>Jun 21, 2017</td>
                <td><span class="status text-info">&bull;</span> Упакован</td>
                <td>$1,260</td>
                <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                </td>
                <td><a href="#" class="delete" title="Delete Order" data-toggle="tooltip"><i class="material-icons">&#xe5cd;</i></a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#">Антон Пахомов</a></td>
                <td>Харьков 3</td>
                <td>Jul 04, 2017</td>
                <td><span class="status text-danger">&bull;</span> Ждет оплаты</td>
                <td>$350</td>
                <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                </td>
                <td><a href="#" class="delete" title="Delete Order" data-toggle="tooltip"><i class="material-icons">&#xe5cd;</i></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="#">Степан Бендера</a></td>
                <td>Калиновка 1</td>
                <td>Jul 16, 2017</td>
                <td><span class="status text-warning">&bull;</span> Подтвержден</td>
                <td>$1,572</td>
                <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                </td>
                <td><a href="#" class="delete" title="Delete Order" data-toggle="tooltip"><i class="material-icons">&#xe5cd;</i></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="#">Андрей Зоров</a></td>
                <td>Измаил 8</td>
                <td>Aug 04, 2017</td>
                <td><span class="status text-success">&bull;</span> Выполнен</td>
                <td>$580</td>
                <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                </td>
                <td><a href="#" class="delete" title="Delete Order" data-toggle="tooltip"><i class="material-icons">&#xe5cd;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Показано <b>5</b> из <b>25</b> заказов</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item active"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
