body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}
#paramsDiv{
    padding-left: 120px;

}
#orderLines{
    padding-left: 70px;
}
#copyNumberButton{
    padding-right: 40px;
}
.product-search-editor-res{
    position: absolute;
    z-index: 1000;
    max-height: calc(15 * (1.125em + 8px));
    /*border-style: solid;*/
    border-width: 1px;
    border-radius: 0 0 3px 3px;
    overflow-y: auto;
    width: 320px;
    box-shadow: 0 0 5px #ddd;
    border-color: #ebebeb;
}
.product-search-editor-res-item:hover{
    background: #c9cccf;
    cursor: pointer;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.bg-dark {
    background-color: #4b5366!important;
}